**Data Types and Structures Questions**

In [1]:
# 1. What are data structures, and why are they important?
  ## -- Data structures are ways of organizing and storing data efficiently so that it can be accessed and modified easily. They are important because they optimize performance for various operations like searching, sorting, and updating data.

In [2]:
# 2. Explain the difference between mutable and immutable data types with examples.
  ## -- Mutable: Can be changed after creation (e.g., lists, dictionaries).
  ## -- Immutable: Cannot be changed after creation (e.g., tuples, strings).

In [3]:
# 3. What are the main differences between lists and tuples in Python?
  ## -- Lists are mutable, whereas tuples are immutable.
  ## -- Lists use more memory and have slower iteration compared to tuples.

In [4]:
# 4. Describe how dictionaries store data?
  ## -- Dictionaries store data as key-value pairs using a hash table, allowing fast access to values via unique keys.

In [5]:
# 5. Why might you use a set instead of a list in Python?
  ## -- Sets prevent duplicate values and provide faster lookups.

In [6]:
# 6. What is a string in Python, and how is it different from a list?
  ## -- A string is an immutable sequence of characters, whereas a list is mutable and can contain elements of different types.

In [7]:
# 7.  How do tuples ensure data integrity in Python?
  ## -- Tuples are immutable, so their contents cannot be altered, ensuring consistency in data.

In [8]:
# 8.  What is a hash table, and how does it relate to dictionaries in Python?
  ## -- A hash table stores key-value pairs using a hashing function, enabling efficient lookups. Python dictionaries use hash tables for fast access.

In [9]:
# 9. Can lists contain different data types in Python?
  ## -- Yes, a list can hold multiple types of data, e.g., [1, "Hello", 3.14].

In [10]:
# 10. Explain why strings are immutable in Python.
  ## -- Strings are immutable to ensure security, performance, and memory optimization. In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary bugs.

In [11]:
# 11. What advantages do dictionaries offer over lists for certain tasks?
  ## -- Dictionaries have several advantages over lists for tasks that require frequent lookups or searches. Dictionaries are faster for finding a specific value, and they can store complex data structures.

In [12]:
# 12. Describe a scenario where using a tuple would be preferable over a list.
  ## -- When storing fixed configuration settings, such as database connection parameters.

In [13]:
# 13.  How do sets handle duplicate values in Python?
  ## -- Sets automatically remove duplicates and store only unique values.

In [14]:
# 14. How does the “in” keyword work differently for lists and dictionaries?
  ## -- In lists, it checks if a value exists.
  ## -- In dictionaries, it checks for the existence of a key.

In [15]:
# 15. Can you modify the elements of a tuple? Explain why or why not?
  ## -- No, tuples are immutable; once created, their elements cannot be changed.

In [17]:
# 16. What is a nested dictionary, and give an example of its use case?
  ## -- A dictionary within another dictionary, useful for storing structured data. Example:
student = {"name": "Pooja Madaan", "grades": {"math": 90, "science": 85}}

In [18]:
# 17. Describe the time complexity of accessing elements in a dictionary.
  ## -- Constant time for key-based lookups due to hashing.

In [19]:
# 18. In what situations are lists preferred over dictionaries?
  ## -- When ordering matters or when storing sequential data without key-value relationships.

In [20]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  ## -- Prior to Python 3.7, dictionaries had no guaranteed order. Since Python 3.7+, they maintain insertion order but retrieval is still based on hash values.

In [21]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
  ## -- Lists use index-based retrieval and searching.
  ## -- Dictionaries use key-based retrieval with hash tables.

**Practical Questions**

In [22]:
# 1. Write a code to create a string with your name and print it.
  ## Ans
name = "Pooja Madaan"
print(name)

Pooja Madaan

In [23]:
# 2. Write a code to find the length of the string "Hello World".
  ## Ans
len("Hello World")

11

In [47]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
  ## Ans
a = "Python Programming"
print(a[0:3])

#or

print("Python Programming"[:3])

Pyt
Pyt

In [48]:
# 4. Write a code to convert the string "hello" to uppercase.
  ## Ans
print("hello".upper())

HELLO

In [69]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
  ## Ans
print("I like apple".replace("apple", "orange"))

I like orange

In [32]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
  ## Ans
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [33]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
  ## Ans
list = [1, 2, 3, 4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [34]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
  ## Ans
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [35]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
  ## Ans
print(['a', 'b', 'c', 'd'][1])

#or

list = ['a', 'b', 'c', 'd']
list[1]

b

'b'

In [36]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
  ## Ans
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
numbers

[50, 40, 30, 20, 10]

In [37]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
  ## Ans
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [65]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
  ## Ans
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[1:]

('green', 'blue', 'yellow')

In [39]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
  ## Ans
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [40]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
  ## Ans
animals = ('dog', 'cat', 'rabbit')
animals.index("cat")

1

In [42]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
  ## Ans
fruits = ("apple", "banana", "orange")
"kiwi" in fruits

False

In [43]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
  ## Ans
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [44]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
  ## Ans
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [45]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
  ## Ans
my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [49]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
  ## Ans
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [50]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
  ## Ans
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
intersection_set

{2, 3}

In [51]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
  ## Ans
my_dict = {"name": "Pooja Madaan", "age": 25, "city": "New Delhi"}
print(my_dict)

{'name': 'Pooja Madaan', 'age': 25, 'city': 'New Delhi'}

In [52]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
  ## Ans
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [53]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
  ## Ans
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [56]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
  ## Ans
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
my_dict

{'name': 'Bob', 'city': 'New York'}

In [57]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
  ## Ans
my_dict = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dict

True

In [58]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
  ## Ans
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2, 'c': 3}

In [59]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
  ## Ans
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[9, 9, 29, 70, 97]

In [60]:
# 28. Write a code to create a list with strings and print the element at the third index.
  ## Ans
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [61]:
# 29. Write a code to combine two dictionaries into one and print the result.
  ## Ans
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [63]:
# 30. Write a code to convert a list of strings into a set.
  ## Ans
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
my_set

{'apple', 'banana', 'cherry'}